body {
    background-image: url("relaxBreakBckgrnd.jpg");
    background-repeat: no-repeat;
    background-color: #BED6BA;
    background-position: left 4em bottom 1em no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Open Sans';
    color: #4B5842;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

button {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #BED6BA;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #5A2A27;
}

#save-btn {
    background: #B57F50;
}

#max-wide {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}